.codemirror-editor-container {
    min-width: 500px;
    position: relative;
}

.CodeMirror {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 500px;
}

.js-hint {
    background: yellow;
}

.js-error {
    background: pink !important;
}

.preview_container {
    min-width: 650px;
    min-height: 550px;
    position: relative;
    /*border: 2px solid red;*/
}

iframe#preview {
    position: absolute;
    top: 1em;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border: 2px solid teal;*/
}

#code_editor {
    border: 2px solid yellow;
}

.mdl-cell--5-col {
    border: 2px solid green;
}
